.ps-home-banner
    .container
        .ps-section__left
            .ps-carousel--nav-inside.owl-slider(
            data-owl-auto= 'true',
            data-owl-loop= 'true',
            data-owl-speed= '5000',
            data-owl-gap= '0',
            data-owl-nav= 'true',
            data-owl-dots= 'true',
            data-owl-item= '1',
            data-owl-item-xs= '1',
            data-owl-item-sm= '1',
            data-owl-item-md= '1',
            data-owl-item-lg= '1',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            data-owl-animate-in="fadeIn"
            data-owl-animate-out="fadeOut"
            )
                a(href='#'): img(src="img/slider/home-7/1.jpg" alt="")
                a(href='#'): img(src="img/slider/home-7/2.jpg" alt="")
                a(href='#'): img(src="img/slider/home-7/3.jpg" alt="")

        .ps-section__right
            a(href='#').ps-collection: img(src="img/slider/home-7/promotion-1.jpg" alt="")
            a(href='#').ps-collection: img(src="img/slider/home-7/promotion-2.jpg" alt="")
