.ps-product-list.ps-product-list--2
    .container
        .ps-section__header
            h3 Computers & Technology
            ul.ps-section__links
                li: a(href='shop-grid.html') Laptop
                li: a(href='shop-grid.html') Desktop PC
                li: a(href='shop-grid.html') Smartphone
                li: a(href='shop-grid.html') Mainboards
                li: a(href='shop-grid.html') PC Gaming
                li: a(href='shop-grid.html') Accessories
        .ps-section__content
            .ps-carousel--nav.owl-slider(
            data-owl-auto= 'false',
            data-owl-loop= 'false',
            data-owl-speed= '10000',
            data-owl-gap= '0',
            data-owl-nav= 'false',
            data-owl-dots= 'true',
            data-owl-item= '5',
            data-owl-item-xs= '2',
            data-owl-item-sm= '2',
            data-owl-item-md= '2',
            data-owl-item-lg= '3',
            data-owl-item-xl= '5',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            )
                each product in homeTechnology
                    +product(product)