.ps-home-banner
    .ps-carousel--nav-inside.owl-slider(
    data-owl-auto= 'true',
    data-owl-loop= 'true',
    data-owl-speed= '5000',
    data-owl-gap= '0',
    data-owl-nav= 'true',
    data-owl-dots= 'true',
    data-owl-item= '1',
    data-owl-item-xs= '1',
    data-owl-item-sm= '1',
    data-owl-item-md= '1',
    data-owl-item-lg= '1',
    data-owl-duration= '1000',
    data-owl-mousedrag= 'on'
    data-owl-animate-in="fadeIn"
    data-owl-animate-out="fadeOut"
    )
        .ps-banner--market-1(data-background="img/slider/home-3/home-banner/1.jpg")
            img(src="img/slider/home-3/home-banner/1.jpg" alt="")
            .ps-banner__content
                h5 Mega Sale Nov 2019
                h3 Double Combo With <br> The Body Shop
                p Sale up to <strong>50% Off </strong>
                a(href='#').ps-btn Shop Now
        .ps-banner--market-1(data-background="img/slider/home-3/home-banner/2.jpg")
            img(src="img/slider/home-3/home-banner/2.jpg" alt="")
            .ps-banner__content
                h5 Mega Sale Nov 2017
                h3 IKEA Minimalist <br> Otoman
                p Discount <strong>50% Off </strong>
                a(href='#').ps-btn Shop Now