.ps-section--default.ps-instagrams
    .ps-section__header
        h3 See It Styled On Instagram
    .ps-section__content
        .ps-carousel--nav.owl-slider(
        data-owl-auto= 'true',
        data-owl-loop= 'true',
        data-owl-speed= '5000',
        data-owl-gap= '10',
        data-owl-nav= 'true',
        data-owl-dots= 'true',
        data-owl-item= '7',
        data-owl-item-xs= '3',
        data-owl-item-sm= '4',
        data-owl-item-md= '5',
        data-owl-item-lg= '6',
        data-owl-duration= '1000',
        data-owl-mousedrag= 'on'
        )
            a(href='#').ps-block--instagram: img(src="img/instagram/1.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/2.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/3.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/4.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/5.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/6.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/7.jpg" alt="")
            a(href='#').ps-block--instagram: img(src="img/instagram/8.jpg" alt="")