.ps-home-banner.ps-home-banner--1
    .ps-container
        .ps-section__left
            .ps-carousel--nav-inside.owl-slider(
            data-owl-auto= 'true',
            data-owl-loop= 'true',
            data-owl-speed= '5000',
            data-owl-gap= '0',
            data-owl-nav= 'true',
            data-owl-dots= 'true',
            data-owl-item= '1',
            data-owl-item-xs= '1',
            data-owl-item-sm= '1',
            data-owl-item-md= '1',
            data-owl-item-lg= '1',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            )
                .ps-banner: a(href='#'): img(src="img/slider/home-1/slide-1.jpg" alt="")
                .ps-banner: a(href='#'): img(src="img/slider/home-1/slide-2.jpg" alt="")
                .ps-banner: a(href='#'): img(src="img/slider/home-1/slide-3.jpg" alt="")

        .ps-section__right
            a(href='#').ps-collection: img(src="img/slider/home-1/promotion-1.jpg" alt="")
            a(href='#').ps-collection: img(src="img/slider/home-1/promotion-2.jpg" alt="")
