.ps-home-trending-products.ps-section--furniture
    .container
        .ps-section__header
            h3 Trending Products
        .ps-section__content
            .ps-carousel--nav.owl-slider(
            data-owl-auto= 'true',
            data-owl-loop= 'true',
            data-owl-speed= '5000',
            data-owl-gap= '0',
            data-owl-nav= 'true',
            data-owl-dots= 'true',
            data-owl-item= '5',
            data-owl-item-xs= '2',
            data-owl-item-sm= '3',
            data-owl-item-md= '3',
            data-owl-item-lg= '4',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            )
                each product, index in furniture
                    if index < 10
                        +product(product)

