.ps-about-awards
    .container
        .ps-section__header
            h4 Awards & Recognition
            p Industry leaders and influencers recognize Overstock as one of the most trust worthy retail companies in the U.S., ranking high for both customer and employee satisfaction.
        .ps-section__content
            .owl-slider(
            data-owl-auto= 'true',
            data-owl-loop= 'true',
            data-owl-speed= '15000',
            data-owl-gap= '0',
            data-owl-nav= 'false',
            data-owl-dots= 'false',
            data-owl-item= '5',
            data-owl-item-xs= '3',
            data-owl-item-sm= '3',
            data-owl-item-md= '3',
            data-owl-item-lg= '4',
            data-owl-duration= '1500',
            data-owl-mousedrag= 'off'
            )
                 a(href='#'): img(src="img/awards/1.png" alt="")
                 a(href='#'): img(src="img/awards/2.png" alt="")
                 a(href='#'): img(src="img/awards/3.png" alt="")
                 a(href='#'): img(src="img/awards/4.png" alt="")
                 a(href='#'): img(src="img/awards/5.png" alt="")
