.ps-home-banner
    .ps-carousel--nav-inside.owl-slider(
    data-owl-auto= 'true',
    data-owl-loop= 'true',
    data-owl-speed= '5000',
    data-owl-gap= '0',
    data-owl-nav= 'true',
    data-owl-dots= 'true',
    data-owl-item= '1',
    data-owl-item-xs= '1',
    data-owl-item-sm= '1',
    data-owl-item-md= '1',
    data-owl-item-lg= '1',
    data-owl-duration= '1000',
    data-owl-mousedrag= 'on'
    data-owl-animate-in="fadeIn"
    data-owl-animate-out="fadeOut"
    )
        .ps-banner--autopart(data-background="img/slider/autopart/1.jpg")
            img(src="img/slider/autopart/1.jpg" alt="")
            .ps-banner__content
                h4 Version 2018
                h3 DUNLOP TIRES <br> FASTER
                p New version 2018 with many powerful features.
                p: strong Faster, Friction better & Cheap Price
                a(href='#').ps-btn Shop Now
        .ps-banner--autopart(data-background="img/slider/autopart/2.jpg")
            img(src="img/slider/autopart/2.jpg" alt="")
            .ps-banner__content
                h4 Version 2018
                h3 CASTROL <br> MOTOR OILS
                p New version 2018 with many powerful features.
                p: strong Faster, Friction better & Cheap Price
                a(href='#').ps-btn Shop Now