.ps-block--products-of-category
    .ps-block__categories
        h3 Home, Garden & Kitchen
        ul
            li: a(href='shop-default.html') Best Seller
            li: a(href='shop-default.html') New Arrivals
            li: a(href='shop-default.html') Furniture
            li: a(href='shop-default.html') Home Decor
            li: a(href='shop-default.html') Cookware
            li: a(href='shop-default.html') Utensils & Gadget
            li: a(href='shop-default.html') Garden Tools
            li: a(href='shop-default.html') Acessesories
            li: a(href='shop-default.html') Sales & Deals
        a(href='#').ps-block__more-link View All
    .ps-block__slider
        .ps-carousel--product-box.owl-slider(
        data-owl-auto= 'true',
        data-owl-loop= 'true',
        data-owl-speed= '7000',
        data-owl-gap= '0',
        data-owl-nav= 'true',
        data-owl-dots= 'true',
        data-owl-item= '1',
        data-owl-item-xs= '1',
        data-owl-item-sm= '1',
        data-owl-item-md= '1',
        data-owl-item-lg= '1',
        data-owl-duration= '500',
        data-owl-mousedrag= 'off'
        )
            a(href='#'): img(src="img/slider/home-3/kitchen-1.jpg" alt="")
            a(href='#'): img(src="img/slider/home-3/kitchen-2.jpg" alt="")
            a(href='#'): img(src="img/slider/home-3/kitchen-3.jpg" alt="")
    .ps-block__product-box
        each product, index in home_3_garden_kitchen
            if index < 6
                +product-simple(product, 'garden')