.ps-block--products-of-category
    .ps-block__categories
        h3 Computer & Techologies
        ul
            li: a(href='#') Best Seller
            li: a(href='#') New Arrivals
            li: a(href='#') Desktop PC
            li: a(href='#') Laptop
            li: a(href='#') Smartphones
            li: a(href='#') Tablets
            li: a(href='#') Storage & Memory
            li: a(href='#') PC Component
            li: a(href='#') Computer Accessories
            li: a(href='#') Game Accessories
            li: a(href='#') Sales & Deals
        a(href='#').ps-block__more-link View All
    .ps-block__slider
        .ps-carousel--product-box.owl-slider(
        data-owl-auto= 'true',
        data-owl-loop= 'true',
        data-owl-speed= '7000',
        data-owl-gap= '0',
        data-owl-nav= 'true',
        data-owl-dots= 'true',
        data-owl-item= '1',
        data-owl-item-xs= '1',
        data-owl-item-sm= '1',
        data-owl-item-md= '1',
        data-owl-item-lg= '1',
        data-owl-duration= '500',
        data-owl-mousedrag= 'off'
        )
            a(href='#'): img(src="img/slider/home-3/technology-1.jpg" alt="")
            a(href='#'): img(src="img/slider/home-3/technology-2.jpg" alt="")
            a(href='#'): img(src="img/slider/home-3/technology-3.jpg" alt="")
    .ps-block__product-box
        each product, index in home_3_technology
            if index < 6
                +product-simple(product, 'technology')