.ps-carousel--nav-inside.second.owl-slider(
data-owl-auto= 'true',
data-owl-loop= 'true',
data-owl-speed= '5000',
data-owl-gap= '0',
data-owl-nav= 'true',
data-owl-dots= 'true',
data-owl-item= '1',
data-owl-item-xs= '1',
data-owl-item-sm= '1',
data-owl-item-md= '1',
data-owl-item-lg= '1',
data-owl-duration= '1000',
data-owl-mousedrag= 'on'
)
    a(href='shop-default.html'): img(src="img/slider/shop-carousel/1.jpg" alt="")
    a(href='shop-default.html'): img(src="img/slider/shop-carousel/2.jpg" alt="")
