.ps-product-list
    .container
        .ps-section__header
            h3 Technology Toys Recommended For You
            ul.ps-section__links
                li: a(href='shop-grid.html') Micro
                li: a(href='shop-grid.html') Drone/Flycam
                li: a(href='shop-grid.html') Microphone
                li: a(href='shop-grid.html') iQOS
                li: a(href='shop-grid.html') View All
        .ps-section__content
            .ps-carousel--nav.owl-slider(
            data-owl-auto= 'false',
            data-owl-loop= 'false',
            data-owl-speed= '10000',
            data-owl-gap= '30',
            data-owl-nav= 'true',
            data-owl-dots= 'true',
            data-owl-item= '5',
            data-owl-item-xs= '2',
            data-owl-item-sm= '2',
            data-owl-item-md= '3',
            data-owl-item-lg= '4',
            data-owl-item-xl= '5',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            )
                each product in productToy
                    +product-without-vendor(product)