.ps-home-banner
    .ps-carousel--nav-inside.owl-slider(
    data-owl-auto= 'true',
    data-owl-loop= 'true',
    data-owl-speed= '5000',
    data-owl-gap= '0',
    data-owl-nav= 'true',
    data-owl-dots= 'true',
    data-owl-item= '1',
    data-owl-item-xs= '1',
    data-owl-item-sm= '1',
    data-owl-item-md= '1',
    data-owl-item-lg= '1',
    data-owl-duration= '1000',
    data-owl-mousedrag= 'on'
    data-owl-animate-in="fadeIn"
    data-owl-animate-out="fadeOut"
    )
        .ps-banner--technology(data-background="img/slider/home-10/1.jpg")
            img(src="img/slider/home-10/1.jpg" alt="")
            .ps-banner__content
                h4 Weekend Promotions
                h3 Mini Helicopter <br /> Mini Helicopter <br /> sale
                    strong  40% Off
                a(href='#').ps-btn Shop Now
        .ps-banner--technology(data-background="img/slider/home-10/2.jpg")
            img(src="img/slider/home-10/2.jpg" alt="")
            .ps-banner__content
                h4 Weekend Promotions
                h3 iLuv Aud Mini & <br /> Ultra Slim Pocket-Sized <br /> speaker just
                    strong  40% Off
                a(href='#').ps-btn Shop Now